
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  ul.breadcrumb {
    // padding: 10px 16px;
    list-style: none;
    // background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    color: black;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
.mynav{
    background-color: #00A755;
}
.mymargin{
    margin-left: 10%;
}

.mylogin{
 background-color: #323232
}
.mysubnav{
    border: 1px solid #eee;
}
.mysubnav a {
    border: 1px solid #eee;
    color: black !important;
}

.mysubnav:hover a:hover {
    background-color: #00A755;
    color: white !important;
}
.active a{
    background-color: #00A755 !important;
    color: white !important;
}
.tabs .indicator{
    background-color: #00A755 !important;
}

.page-footer{
    padding: 2%;
    background-color: #535353
}

.chip{
    border-radius: 0 !important;
    font-size: 18px;
    width: 10%;
    font-weight: normal;
    margin: 1%
}

.mybox{
    height: 300px !important;
}

.myhr{
    width: 8%;
    border:3px solid #00A755
}

.mydiv{
    background-color: #eee;
    padding: 1%;
}
.mybutton{
    background-color: #333;
    border: 3px solid #00A755;
}

.myimagediv{
  background:linear-gradient(0deg,rgba(0,50,0,0.8),rgba(0,50,0,0.7)),url("../images/party.jpg");
  background-size:cover;
  min-height: 300px;
  padding: 20px;
  margin-top: 50px;
}

.mybutton2{
    background-color: transparent !important;
    border: 3px solid #00A755;
}
.mytext{
    color: #00A755
}

.myimagediv2{
  background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/drums.jpg");
  background-size:cover;
  min-height: 500px;
  padding: 20px;
}

.mybutton3{
    background-color:#00A755 !important;
}

.mydiv2{
    background-color: black;
    padding: 1%;
    min-height: 400px;
}
.mydiv3{
    background-color: #181616;
    padding: 5%;
    height: 350px;
    color: white;
}

.mylink{
    color: white;
}

.mytext2{
    background-color: white !important;
    width: 20% !important;
    padding: 1% !important;
}

.mybutton4{
    background-color: #00A755 !important;
    height: 71px !important;
    border-radius: 0 !important;
}

#sidenav-overlay {
    position: relative !important;
}